.menu {
  position: relative;
  ul {
    position: relative;
    //    top:0.6rem;
    display: flex;
    align-items: flex-end;
    li {
      position: relative;
      margin: 0 1rem;
      a {
        position: relative;
        //        padding:0 .5rem;
        &:after {
          content: "";
          //          position:absolute;
          bottom: -1rem;
          left: 0;
          display: block;
          width: 0;
          height: 2px;
          background: $color-white;
          transition: width 0.15s ease-in-out;
        }
        &:hover,
        &.active {
          &:after {
            width: 100%;
            transition: width 0.3s ease-in-out;
          }
        }
      }
    }
  }
}

/*
* Made by Erik Terwan
* 24th of November 2015
* MIT License
*
*
* If you are thinking of using this in
* production code, beware of the browser
* prefixes.
*/
#menuToggle {
  display: block;
  position: absolute;
  top: 0.3rem;
  right: 1rem;
  @include sm {
    right: 1.5rem;
  }
  z-index: 100;
  -webkit-user-select: none;
  user-select: none;
  input {
    display: block;
    @include menuwrap {
      display: none;
    }
    width: 3rem;
    height: 2rem;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 200; /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }
  .hamburger {
    z-index: 199; /* and place it over the hamburger */
    @include menuwrap {
      display: none;
    }
    span {
      display: block;
      width: 2rem;
      width: 32px;
      height: 4px;
      margin-bottom: 0.4rem;
      margin-bottom: 5px;
      position: relative;
      background: $color-white;
      border-radius: 3px;
      z-index: 1;
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        opacity 0.55s ease;
    }
    span:first-child {
      transform-origin: 2px 0%;
    }
    span:nth-last-child(1) {
      transform-origin: 0% 100%;
    }
  }
  input:checked ~ .hamburger span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
  }
  input:checked ~ .hamburger span:nth-last-child(2) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  input:checked ~ .hamburger span:nth-last-child(1) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  input:checked ~ ul {
    transform: translate(0%, 0);
  }
}
#menu {
  @include menuwrapx {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 20rem;
    //    margin: -2rem -1rem -1rem;
    margin: -2.5rem -1.5rem -1.5rem;
    @include sm {
    }
    border-bottom-left-radius: 10px;
    padding: 5rem 2rem 2rem 2rem;
    background: $color-blue;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(105%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
}

#menu li {
  @include menuwrapx {
    padding: 0rem 0;
    margin: 0;
    line-height: 1.2rem;
    &.userMenu {
      .userName {
        a {
          display: inline-block;
          margin: 0 0 1rem 0.5rem;
        }
      }
      //      padding-top:1rem;
      ul {
        width: 20rem;
        margin-left: -2rem;
        li {
          line-height: 1.4rem;
          a {
            margin: 0.5rem 0rem 1rem 3.5rem;
          }
          button {
            margin: 0.5rem 0rem 1rem 4rem;
          }
        }
      }
    }
    a {
      padding: 0 0.5rem;
      &:after {
        bottom: 0;
        margin-top: 10px;
      }
    }
  }
}
