.myVets {
    .myVetsInner {
        .myVetsList {
            .flexContainer {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                margin: -1rem;
                padding: 0;
                list-style: none;

                li {
                    margin: 1rem;

                    &.addVet {
                        @extend .vetThumbnailCard;
                        font-size: 5rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        transition: font-size .1s ease-out;
                        color: $color-grey;
                        min-height: 8rem;

                        &:hover {
                            font-size: 5.6rem;
                        }
                    }
                }
            }
        }
    }
}