$color-neptune: #88bdbd;
$color-spindle: #c5ddf0;
$color-blue-hover: #2d88e2;
$color-blue: #4ea7ff;
$color-soft-blue: hsl(221, 58%, 77%);
$color-facebook-blue: #3b5998;
$color-prelude: #c9adda;
$color-geraldine: #fd8985;
$color-carnation: #fb656c;
$color-valencia: #dc3c43;
$color-google-red: #db4437;
$color-white: #fff;
$color-black: #000;
$color-apple-black: #161617;
$color-vulcano: #333;
$color-green: #48dd87;
$color-dark-green: #57aa00;
$color-grey: #cfcfcf;
$color-dark-grey: #999;
$color-alto: #dcdcdc;
$color-snowhite: #f0f0f0;

$containerWidth: 60rem;
$containerWidePadding: 2rem;
$paddingTop: 4rem;

$font-bold: "WeissenhofGrotesk-Bold";
